<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
      <h1> Emails Registered </h1>
      {% for email in all_email: %}
        <p>Email Address: {{ email['emailaddress'] }} / Created: {{ email['created_at'] }} / Last Updated:{{ email['updated_at']}}</p>
      {% endfor %}

      <h2> Add an email </h2>
      <form action='/email' method='post'>
          <label for ="emailaddress">Email Address: <input type='text' name='emailaddress' id="emailaddress"></label>
          <input type='submit' value='Add'>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </body>
</html>
