<html>
  <head>
    <title>Ninja Info</title>
    <link rel='stylesheet' tye='type/css' href="{{url_for('static', filename='styleninja.css')}}">
    <script type='text/javascript' src="{{url_for('static', filename='scriptninja.js')}}"></script>
  </head>

  <body>
    <h1>Facts about ninjas!</h1>
    <img src="{{url_for('static', filename='ninja.gif')}}">
    <div id=info>
      <ul>
        <li>They were covert agent or mercenary in feudal Japan</li>
        <li>The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.</li>
        <li>They appeared in the 15th century during the Sengoku period, but antecedents may have existed in the 14th century, and possibly in the 12th century (Heian or early Kamakura era).</li>
        <li>Ninja figured prominently in legend and folklore, where they were associated with legendary abilities such as invisibility, walking on water and control over the natural elements.</li>
        <li>Their perception in popular culture is often based more on such legend and folklore than on the spies of the Sengoku period.</li>
      </ul>
    </div>
  </body>

</html>
